[Unit]
Description=Re:Display - a simple Display Manager
After=systemd-user-sessions.service plymouth-quit-wait.service getty@tty2.service systemd-logind.service
Before=display-manager.service
Conflicts=getty@tty2.service

[Service]
Type=simple
ExecStart=/usr/bin/re-display
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
Restart=always
Environment=

[Install]
Alias=display-manager.service