[Unit]
Description=Re:Display - a simple Display Manager
After=systemd-user-sessions.service plymouth-quit-wait.service
After=getty@tty2.service

[Service]
Type=idle
ExecStart=/usr/bin/re-display
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes

[Install]
Alias=display-manager.service